.offers {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    align-content: center;
    &__row {
        display: grid;
        grid-template-rows: 1fr 12fr;
        justify-content: center;
        height: 4rem;
    }

    &__options {
        grid-row: 2;
    }

    &__item {
        margin: 2rem auto;
    }
}