.Header {
    height: 4rem;
    position: relative;
    display: grid;
    grid-template-columns: 9fr 4fr;
    margin: 4rem auto;
    
    &__text {
        font-size: 2rem;
        margin: .5rem 0;
    }

    &__sort {
        display: grid;
        grid-template-columns: 1fr 3fr;
        font-size: 1.5rem;
    }

    &__dropdown-text {
        margin: 1rem 0;
        text-align: right;
        margin-right: 1rem;
    }


    &__dropdown {
        font-size: inherit;
        border: solid grey 1px;
        text-align-last: center;
    }
}